<div class="bs-filters">
    <div class="btn-group" id="weekdays" data-toggle="buttons">
		{{#view 'checkboxbuttons'}}
		    {{input type="checkbox"}}
		    Blue
		{{/view}}
		{{#view 'checkboxbuttons'}}
		    {{input type="checkbox"}}
		    Red
		{{/view}}
		{{#view 'checkboxbuttons'}}
		    {{input type="checkbox"}}
		    Green
		{{/view}}
		{{#view 'checkboxbuttons'}}
		    {{input type="checkbox"}}
		    Yellow
		{{/view}}
		{{#view 'checkboxbuttons'}}
		    {{input type="checkbox"}}
		    Purple
		{{/view}}
	</div>
</div>

<h2>Items</h2>

{{#each content}}
<li {{bind-attr class=':item color'}}>{{text}}</li>
{{/each}}
